/.jsdtscope
/org.eclipse.core.resources.prefs
/org.eclipse.php.core.prefs
/org.eclipse.wst.jsdt.ui.superType.container
/org.eclipse.wst.jsdt.ui.superType.name
/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
/org.eclipse.php.ui.prefs
